@keyframes scrollDown {
  0% {
    top: 10px;
    opacity: 0;
  }
  50% {
    top: 75%;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header__top-inner {
  padding: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  display: flex;
  justify-content: center;
  background-image: url("/img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 62px;
}
.header__content-inner {
  padding-top: 213px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 18px;
}
.header__description {
  color: #FCBB08;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.743px;
  margin-bottom: 180px;
}
.header__mouse-decoration {
  align-self: center;
  border: 2px solid white;
  border-radius: 15px;
  width: 26px;
  height: 43px;
  position: relative;
}
.header__mouse-decoration::after {
  content: "";
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scrollDown 3s infinite;
}

.container {
  max-width: 1170px;
  padding: 0 135px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  font-family: raleway;
  font-size: 12pt;
  flex-wrap: wrap;
}
.menu__item {
  padding: 0 25px;
}
.menu__link {
  color: black;
}
.about {
  display: flex;
  justify-content: center;
  margin-top: 143px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .about__inner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.about__title {
  color: #242121;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 156.25% */
  letter-spacing: -1.65px;
  white-space: nowrap;
}
.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #373A39;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  margin-left: 160px;
}
@media (max-width: 768px) {
  .about__text {
    margin-left: 0;
    margin-top: 25px;
  }
}

.title {
  color: #242121;
  font-family: Montserrat;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 125% */
  letter-spacing: -1.65px;
}